#containerMainRanking {
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#containerRanking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    background-color: #333;
    /* border: 2px solid #fff; */
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.8);
}

#showRanking {
    color: #171717;
    margin-bottom: 20px;
}

#resultsUsersModal {
    max-height: 200px;
}

#modalRanking {
    width: 550px;
    height: 500px;
}

#modalRanking {
    width: 400px;
}
 
#showRankingDiv {
    width: 400px;
    margin: 30px 0px 0px 0px;
    border-radius: 10px;
    border-color: black;
    background-color: #2b2b2b;
    height: 450px;
    max-height: 450px;
    overflow-y: auto;
}

#titleLeaderBoard {
    color: #0d0e0e;
    margin-top: -10px;
    font-family: 'Protest Riot', sans-serif; font-size: 30px;
}
#btnsPeriodRanking {
    display: flex; 
    justify-content: space-between;
    margin: 15px 0px 0px 0px;
}

#btnDailyRanking, #btnWeeklyRanking, #btnMonthlyRanking {
    width: 80px;
    height: 27px;
    margin: 10px 0px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #383939;
    color: #ffffff;
    font-family: 'Protest Riot', sans-serif;
}

#showRankingDiv::-webkit-scrollbar {
    width: 1px;  
    background-color: transparent; 
 } 

#showRankingDiv::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); 
    border-radius: 5px; 
} 

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px; /* Espaçamento vertical entre as linhas */
    border: 2px solid #2b2b2b; /* Cor da borda */
    border-radius: 10px;
}

th, td {
    padding: 12px;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

tr:nth-child(even) {
    background-color: #908b8b; /* Cor de fundo para linhas pares */
}

tr:nth-child(odd) {
    background-color: #e0e0e0; /* Cor de fundo para linhas ímpares */
}

tr:first-child th {
    border-top-left-radius: 10px; /* Borda arredondada no canto superior esquerdo */
}

tr:first-child th:last-child {
    border-top-right-radius: 10px; /* Borda arredondada no canto superior direito */
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px; /* Borda arredondada no canto inferior esquerdo */
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px; /* Borda arredondada no canto inferior direito */
}

tr:hover {
    background-color: #d9d9d9; /* Cor de fundo quando o mouse está sobre a linha */
}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px; /* Espaçamento vertical entre as linhas */
    border: 2px solid #2b2b2b; /* Cor da borda */
    border-radius: 10px;
}

th, td {
    padding: 12px 20px; /* Espaçamento interno (padding) para os elementos */
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

th {
    background-color: #383939;
    color: #ffffff;
}

tr:nth-child(even) {
    background-color: #6dfa09; /* Cor de fundo para linhas pares */
}

tr:nth-child(odd) {
    background-color: #e0e0e0; /* Cor de fundo para linhas ímpares */
}

tr:first-child th {
    border-top-left-radius: 10px; /* Borda arredondada no canto superior esquerdo */
}

tr:first-child th:last-child {
    border-top-right-radius: 10px; /* Borda arredondada no canto superior direito */
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px; /* Borda arredondada no canto inferior esquerdo */
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px; /* Borda arredondada no canto inferior direito */
}

tr:nth-child(-n+3) {
    background-color: rgb(55, 250, 21);
    color: #101010;
}
tr:nth-child(n+5) {
    background-color: orange;
    color: white;
    color: #101010;
}
