* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--color6);
    font-family: 'Roboto Condensed', sans-serif;
}

/* font-family: 'Changa One', sans-serif;
font-family: 'Protest Riot', sans-serif;
font-family: 'Protest Strike', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

:root {
    --color1: #383939;
    --color2: #149c68;
    --color3: #38c958;
    --color4: #aee637;
    --color5: #fffedb;
    --color6: #ffffff;
    --color7: #00deffc7;

}

#containerIndex {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('../../assets/img/bck.png') center/cover no-repeat;
    color: r;
}

#containerStart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    height: 500px;
    background-color: var(--color7);
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.8);
}

#contentElements {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    margin: -25px 200px 50px 0px;
}

#containersElementsQuestions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: var(--color1);
    font-family: 'Protest Riot', sans-serif;
    margin-top: -90px;
    margin-bottom: 85px;
}

.configModalGlobal {
    background: url('../..//assets/img/bck.png') center/cover no-repeat;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--color6);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#greeting {
    font-size: 35px;
    color: var(--color1);
    margin-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

#inputName {
    width: 220px;
    height: 30px;
    padding: 1px 5px;
    background-color: var(--color6);
    border: 0;
    border-radius: 5px;
}

#inputName::placeholder {
    font-size: 18px;
    color: rgba(118, 118, 118, 0.678);
    text-align: center;
}

#inputNameConfig {
    width: 220px;
    height: 30px;
    margin-top: 5px;
    padding: 1px 5px;
    border: 0;
    border-radius: 50px;
    border-color: none;
}

#inputNameConfig::placeholder {
    text-align: center;
} 

#labelInputUsername {
    display: flex;
    flex-direction: column; 
    color: var(--color1);
    align-items: center;
    margin-top: -15px;
}

#alterNameUser {
    color: var(--color1);
}

#btnStart {
    width: 100px;
    height: 100px;
    background-color:  var(--color1);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 300ms ease-out;
}

#btnStart:hover {
    transform: scale(1.1);
}

#btnRanking {
    width: 50px;
    height: 30px;
    border: none;
    border-style: none;
    cursor: pointer;
    color: var(--color1);
    background-color: rgba(60, 40, 40, 0);
}

#btnProfile {
    width: 50px;
    height: 30px;
    border: none;
    border-style: none;
    cursor: pointer;
    color: var(--color1 );
    background-color: rgba(60, 40, 40, 0);
}

#btnConfig {
    background-color: transparent;
    cursor: pointer;
    border: none;
    width: 50px;
    height: 30px;
}

#btnAlterUser {
    width: 235px;
    height: 30px;
    padding: 2px 0px;
    background-color:  var(--color6);
    border: 0;
    border-radius: 50px;
    color: var(--color1);
    cursor: pointer;
    margin-top: 5px;
    font-size: 13px;
    text-transform: uppercase;
}

#modalRanking {
    width: 25%;
    min-width: 300px;
    min-height: 330px;
    background-color: var(--color7);
    backdrop-filter: blur(30px);
    padding: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.8);
}

#modalProfile {
    width: 25%;
    min-width: 300px;
    min-height: 330px;
    background-color: var(--color7);
    backdrop-filter: blur(30px);
    padding: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.8);
}

#modalConfig {
    width: 25%;
    min-width: 300px;
    min-height: 330px;
    background-color: var(--color7);
    backdrop-filter: blur(30px);
    padding: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.8);
}

#modalResults {
    width: 25%;
    min-width: 300px;
    min-height: 330px;
    background-color: var(--color7);
    backdrop-filter: blur(30px);
    padding: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.8);
}

#close {
    position: absolute;
    top: 8px;
    right: 5px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
    color: var(--color1);
    cursor: pointer;
}

.open {
    display: flex;
}

.title {
    color: var(--color1);
    font-size: 40px;
    font-family: 'Protest Riot', sans-serif;
}

/* #monthlyBtnSelectRecordPeriod, #weeklyBtnSelectRecordPeriod, #dailyBtnSelectRecordPeriod {
    cursor: pointer;
    width: 80px;
    height: 30px;
    padding: 2px;
    margin-right: 5px;
    margin-left: 5px;
} */
.selected {
    background-color: rgb(0, 119, 255);
    color: black;
    transform: scale(1.1);
}

.heart {
    color: red;
    cursor: pointer;
}

.empty-heart {
    color: var(--color6);
}

.icon {
    font-size: 24px; 
    color: #00deffc7;
}

.sucess {
    border: 3px solid #38c958 !important;    
}

.sucess:focus {
    border: 3px solid #38c958 !important;
    outline: none;    
}

.error {
    border: 3px solid red !important;
}

.error:focus {
    border: 3px solid red;
    outline: none;
}

#divButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btnShareResults {
    width: 200px;
}

.btnFinal {
    width: 100px;
    height: 30px;
    padding: 2px 0px;
    background-color:  var(--color6);
    border: 0;
    border-radius: 50px;
    color: var(--color1);
    cursor: pointer;
    margin: 3px 2px;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Protest Riot';
}